.Contain{
    background-color: #32333c;
    color: #f6f8fc;
}


.Work_Experience .text{
    color:#f6f8fc;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f6f8fc;
}

main .Work_Experience{
    width: 48%;
    margin-bottom: 3rem;

}

.Work_Experience h3{
    margin-top: 1rem;
    color: #32333c;
}

.Work_Experience p{
    margin-bottom: 1rem;
    color: #8a8fa3;
    text-align: center;
}

.box_yellow_line{
    display: flex;
    justify-content: center;
}

.yellow_line{
    width: 70px;
    border: 2px solid #feb633;
    margin: 1rem 0;
}

/* Cards */
.Contain_Section{
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f8fc;

    
}

.Contain_Section section, time, h4, label, p{
    text-align: start;
    width: 100%;
}

.Contain_Section section{
    width: 350px;
    flex-direction: column;
    text-align: start;
    padding: 4rem 2rem;
    border: 1px solid #8a8fa3;
}

main time, label{
    color: #8a8fa3;
}

.Contain_Section section p{
    color: #8a8fa3;
    margin-top: 2rem;
}


